@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-slate-200 antialiased overflow-x-hidden;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Optimización para que las imágenes de los posters no den tirones al cargar */
img {
  content-visibility: auto;
}

/* Estilo para la barra de scroll estilo moderna */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}